{% extends "app/guestbase.html" %}

{% block content %}
 {% load staticfiles %}
<!--     <div class="search-block parallaxBg"> -->
        <div class="container content">
             <div class="title-box-v2">
                <h1 class="pull-left color-green"><i class="fa fa-gift fa-fw"></i>How it Works </h1><h1 class="pull-left"> &nbsp;We make gifting a simple task</h1>
            </div>
        </div>    
 <!--    </div>/container   -->   

        <div class="container content hiw">
            <div class="row">
                <div class="col-md-offset-1">
                    <div class="col-md-3">
                        <!-- <i class="icon-custom rounded-x icon-blg icon-bg-u btn-u fa fa-pencil fa-5x"></i> -->
                        <span class="fa-stack fa-5x">
                            <i class="fa fa-circle fa-stack-2x color-green"></i>
                            <i class="fa fa-pencil fa-stack-1x color-light"></i>
                             <span class="badge badge-dark rounded-2x">1</span>
                        </span>
                    </div>
                    <div class="col-md-9">
                        <blockquote>
                            <h2 class="color-green">Create a Gift</h2>
                            <p>Choose product / category from our huge database of merchants / shops. Suggest something you think they'd like. You can do this from anywhere, your home, cafe, school, office, even your bedroom. All in your fingertips. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Sharing is believing.</p>
                        </blockquote>
                    </div>
                </div>
                <hr class="devider devider-dotted">
                <div class="col-md-offset-4">
                    <div class="col-md-9">
                        <blockquote class="text-right">
                            <h2>Select Delivery Method</h2>
                            <p>Select how you want recipient receive the code:</p>
                                <label class="checkbox state-disabled"><input type="checkbox" name="checkbox" disabled="" checked=""><i></i>SMS</label>
                                <label class="checkbox state-disabled"><input type="checkbox" name="checkbox" disabled="" checked=""><i></i>Email</label>
                                <label class="checkbox state-disabled"><input type="checkbox" name="checkbox" disabled="" checked=""><i></i>Print-out</label>
                            <p>Consectetur. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.</p>
                        </blockquote>
                    </div>
                    <div class="col-md-3">
                        <span class="fa-stack fa-5x">
                            <i class="fa fa-circle fa-stack-2x color-red"></i>
                            <i class="fa fa-truck fa-stack-1x color-light"></i>
                             <span class="badge badge-dark rounded-2x">2</span>
                        </span>
                    </div>
                </div>
                <hr class="devider devider-dotted">
                <div class="col-md-offset-1">
                    <div class="col-md-3">
                        <span class="fa-stack fa-5x">
                            <i class="fa fa-circle fa-stack-2x color-dark-green"></i>
                            <i class="fa fa-credit-card fa-stack-1x color-light"></i>
                             <span class="badge badge-dark rounded-2x">3</span>
                        </span>
                    </div>
                    <div class="col-md-9">
                        <blockquote>
                            <h2>Make Payment</h2>
                            <p>Make a payment with your credit card. (100% Secure). Lorem ipsum dolor sit amet et consectetur. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
                        </blockquote>
                    </div>
                </div>
                <hr class="devider devider-dotted">
                <div class="col-md-offset-4">
                    <div class="col-md-9">
                        <blockquote class="text-right">
                            <h2>Send it!</h2>
                            <p>Like Gifts system will make sure that recipient get the gift. They can share with you how they like the gift. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                        </blockquote>
                    </div>
                    <div class="col-md-3">
                        <span class="fa-stack fa-5x">
                            
                            <i class="fa fa-circle fa-stack-2x color-brown"></i>
                            <i class="fa fa-send-o fa-stack-1x color-light"></i>
                             <span class="badge badge-dark rounded-2x">4</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>




     

    <!--=== Parallax Counter ===-->
    <div class="parallax-counter parallaxBg ">
<div class="container">
            <div class="row">
                <div class="col-md-9 animated fadeInLeft">
                    <h1 class="color-light">So, are you ready to send your first gift?</h1>
                   <!--  <hr class="small"> -->
                    <p class="color-light">Marketing line tests here. Grab it now while its hot. Like Gift frequently releases seasonal discount promotion.
                        <br>Only takes a minute to register. Lorem ipsum dolor sit amet.</p>
                </div>            
                <div class="col-md-3 btn-buy animated fadeInRight">
                    <a href="#" class="btn btn-block btn-android"><i class="fa fa-gift"></i> Send a Gift Now</a>
                </div>
            </div>
        </div>
    </div>    
    <!--=== End Parallax Counter ===-->


   
    <!--=== Container Part ===-->

{% endblock %}
